.cover .cover-main h1 .anchor span {
  font-family: 'Lobster', cursive;
}

.cover .cover-main p {
  font-family: 'Lobster', cursive;
}

.cover .cover-main :first-child {
  font-family: unset;
}

.sidebar .app-name .app-name-link {
  font-family: 'Lobster', cursive;
}

.content #docsify-darklight-theme {
  top: -20px;
  right: 50px;
}